.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.feature__icon-wrap {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__title {
  color: var(--title-text-color);
  @include font(14px, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.feature__text {
  @include font(14px, null, 1.71, null);
}
