.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
}

.modal__icon-close {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  @include font(20px, 700, 1.15, null);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  @include font(12px, null, 1.17, 0.01em);
  // font-size: 12px;
  // line-height: calc(14 / 12);
  // letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__text {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  @include font(12px, null, 1.17, 0.01em);
  // font-size: 12px;
  // line-height: calc(14 / 12);
  // letter-spacing: 0.01em;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    @include font(12px, null, 1.17, 0.01em);
    // font-size: 12px;
    // line-height: calc(14 / 12);
    // letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.check__text {
  @include font(14px, null, 1.71, null);
  // font-size: 14px;
  // line-height: 1.71;
  color: #757575;
  display: flex;
  align-items: center;
  position: relative;
}

.check__text-link {
  margin-left: 4px;
  color: #2196f3;
}

.check__icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  .check__input:focus + .check__text &,
  .check__input:hover + .check__text & {
    border-color: var(--accent-color);
  }

  .check__input:checked + .check__text & {
    background-color: var(--accent-color);
    border: none;
  }
}

.check__icon {
  fill: transparent;
  .check__input:checked + .check__text & {
    fill: #ffffff;
  }
}

.modal__submit-btn {
  padding: 10px 56px;
  margin: 30px auto 0 auto;
  display: block;
}
