.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  @include font(24px, 700, 1.17, null);
  @media screen and (min-width: 1200px) {
    @include font(26px, null, 1.19, null);
  }
  &--dark {
    color: #000000;
  }

  &--light {
    color: #ffffff;
  }
}
